/* ESTILOS GLOBALES */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #040d15;
    /*background-color: #e6e6e6;*/
}

body {
    font-family: 'Signika Negative', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #091921;
}

header,
section,
main,
nav,
footer,
article,
figure,
hgroup{
    display: block;
    width: 100%;
}
a {
    text-decoration: none;
    outline: none;
    transition: .4s all ease-in-out;
}

li {
    list-style: none;
}

footer {
    align-self: flex-end;
    width: 100%;
}
h1, h2, h3 {
    font-weight: 700;
    color: #4E73DF;
}
h4,
h5,
h6,
p {
    font-weight: 400;
    color: grey;
}

.container {
    max-width: 1200px;
    width: 100%;
}

.img-responsive {
    max-width: 100%;
    width: 100%;
}
.calcFondo{
    background: #094579;
    padding: 30px;
    border-radius: 50px;
    box-shadow: 15px 15px 10px 10px rgba(0, 0, 0, 0.4);    
}
.calculator{
    position: relative;
    display: grid;    
}
.calculator .value{
    grid-column: span 4;
    height: 180px;
    text-align: right;
    border: none;
    outline: none;
    padding: 10px 20px;
    font-size: 30px;    
    border-radius: 30px;
    margin-bottom: 1rem;
    border: 3px solid rgb(12, 41, 77);
    background: #6eab77;
    box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.3) inset;
}
.calculator span{    
    display: grid;
    width: 90px;
    height: 90px;
    columns: white;
    background: #0c2835;
    place-items: center;
    border: 1px solid rgba(0, 0, 0, .1);
    color: white;
    border-radius: 50px;
    margin: 0.5rem 0.4rem;
    font-size: 25px;
    cursor: pointer;
    box-shadow: 5px 5px 0px 0px rgb(7, 28, 39);
    transition: all 0.4s;    
}
span:hover{
    transform: scale(1.07);
    transition: all 0.4s;
}
.calculator span:active{
    background: #74ff3b;
    color: #111;
}
.calculator span.clear{
    grid-column: span 2;
    width: 180px;
    background: #ff3077;
}
.calculator span.plus{
    grid-row: span 2;
    height: 195px;
}
.calculator span.equal{
    background: #03b1ff;
}
.calculator span.clear:active,
.calculator span.equal:active{
    background: #41c6ff;
    color: rgb(255, 255, 255);
}

@media only screen and (max-width: 820px) {
    div{
        transform: scale(0.7);
    }
}
